<div class="leftSidebarNav">
  <nav class="navbar navbar-inverse bg-inverse navbar-fixed-side" style="height:100%">
    <a class="navbar-brand" routerLink="./dashboard">{{project.shortName}}</a>
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let item of menu">
        <a class="nav-link" [ngClass]="item.disabled ? 'disabled' : ''" [routerLink]="item.routerLink" routerLinkActive="active">
          <i class="fa" [ngClass]="item.icon" aria-hidden="true"></i> {{item.label}}
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="mainContent">
  <router-outlet></router-outlet>
</div>
