.dropHere {
  background-color: #a8eda6;
}

.transparentBorder {
  border-color: transparent;
  border-width: 5px;
  border-style: dotted;
  transition: border-color 0.5s;
}

.dragHint {
  border-color: #48a045;
}

.sidebar {
  background-color: #DFDCE3;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: #292B2C;
  height: 100%;
  width: 350px;
}

.closeButton {
  position: fixed;
  background-color:transparent;
  right: 5px;
}
