<div class="container" style="max-width: 350px">
  <div class="mt-5"></div>
  <div class="card text-center">
    <div class="card-block" (keyup.enter)="login()">
      <h2>Login</h2>
      <input type="text" class="form-control mb-2 border-top-0 border-left-0 border-right-0" placeholder="Email Address" [(ngModel)]="email" autofocus />
      <input type="password" class="form-control mb-2 border-top-0 border-left-0 border-right-0" placeholder="Password" [(ngModel)]="password"/>
      <button class="btn btn-success btn-block" (click)="login()">Login</button>
      <button class="btn btn-info btn-block" routerLink='/registration'>Registrieren</button>
    </div>
  </div>
</div>
